.WeatherApp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #3a3f87;
  font-size: 2.5rem;
}

@media (min-width:1024px)
{
  .heading{
    font-size: 3rem;
  }
}
@media (min-width:1440px)
{
  .heading{
    font-size: 4rem;
  }
}
@media (min-width:2560px)
{
  .heading{
    font-size: 8rem;
  }
}