.WeatherBackPage{
    text-align: center;
  height: 85vh;
  width: 19rem;
  border: 1px solid white;
  border-radius: 14px;
  background: linear-gradient(
    135deg,
    rgba(114, 118, 190, 0.25) 0%,
    rgba(103, 105, 131, 0.2) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

}



@media (min-width:1024px){
  .WeatherBackPage{
    height: 86vh;
    font-size: 1.4rem;
    width: 23.5rem;
  }
}



@media (min-width:1440px){
  .WeatherBackPage{
    height: 86.5vh;
    font-size: 2rem;
    width: 32rem;
    border-radius: 18px;
  }
}



@media (min-width:2560px){
  .WeatherBackPage{
    height: 89vh;
    border: 2px solid white;
    font-size: 4rem;
    width: 58rem;
    border-radius: 34px;
  }
}